 article h1 {

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0,44,96);
 }

 article h2 {

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 60, 133);
 }
